<h1>Welcome!</h1>

<h2>User page for <%=@user.email%></h2>

<% if current_user && current_user.admin? %>
  <%= link_to "All Users", users_path%>
<% end %>

<h3>Assigned courses:</h3>

<% @user.courses.each do |c| %>
  <ul>
    <li><%= c.title %></li>
    <li><%= c.file %></li>
  </ul>
<% end %>

<% if current_user && current_user.admin? %>
  <%= button_to "Add Course", new_user_course_path(@user.id), { method: :get } %>
<% end %>
