<h1>Welcome!</h1>

<h2>User Page for <%=@user.email%></h2>

<% if current_user && current_user.admin? %>
  <%= link_to "All Users", users_path%>
  <%= link_to "All Courses", courses_path%>
<% end %>

<h3>User Role: <%= @user.role %></h3>

<h3>Assigned Courses</h3>
<% @user.courses.each do |c| %>
  <ul>
    <li><%= c.title %></li>
    <li><%= c.file %></li>
    <li><%= link_to "Data" %></li>
    <li><%= link_to "Launch", c.file, target: "_blank" %></li>
  </ul>
<% end %>

<% if current_user && current_user.admin? %>
  <%= button_to "Edit User", edit_user_path, { method: :get } %>
<% end %>
