<h1>Welcome!</h1>

<h2>User Page for <%=@user.email%></h2>

<% if current_user && current_user.admin? %>
  <%= link_to "All Users", users_path%>
  <%= link_to "All Courses", courses_path%>
<% end %>

<h3>User Role: <%= @user.role %></h3>

<h3>Assigned Courses</h3>
<table>
  <% @user.courses.each do |c| %>
    <tr>
      <th><%= c.title %></th>
      <td><%= c.file %></td>
      <td><%= link_to "Data", user_enrollments_path(@user, course_id: c.id) %></td>
      <td><%= link_to "Launch", c.file, target: "_blank" %></td>
    </tr>
  <% end %>
</table>
<br/>

<% if current_user && current_user.admin? %>
  <%= button_to "Edit User", edit_user_path, { method: :get } %>
<% end %>
