<h1>New Course</h1>

<h2>Select course:</h2>


<h2>Upload new:</h2>
  <%= form_for @course, url: user_courses_path(@user) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br/><br/>
    <%= f.file_field :file %>
    <br/><br/>
    <%= f.submit "Upload" %>
  <% end %>

<br/>
<%= button_to "Cancel", user_path(@user.id), {method: :get} %>
