<h2>New Course</h2>

<h3>Upload New</h3>
  <%= form_for @course do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <p><strong>
          <%= pluralize(@course.errors.count, "error") %> prohibited
          this course from being saved
        </strong></p>
        <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br/><br/>
    <%= f.file_field :file %>
    <br/><br/>
    <%= f.submit "Upload" %>
  <% end %>

<br/>
<%= link_to "Back", courses_path %>
